.app.light {
  --bg-color: #dfdfdf;
  --inverted-bg-color: #070747;
  --primary-color: #07288d;
  --secondary-color: #0453ff;
  --inverted-primary-color: #049604;
  --inverted-secondary-color: #04ff04;
}
